name: Deploy Frontend

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker test image
        run: docker build -t frontend-test -f Dockerfile.dev .

      - name: Run tests
        run: docker run -e CI=true frontend-test npm test
